.barrier-container{
    margin: 0 auto;
    width: 90%;
}

.barrier{
    width: 100%;
    height: min-content;
    text-align: center;
    font-size: 28px;
    position: relative;
}

.barrier::after{
    content: '';
    width: 100%;
    border-bottom: solid 1px #57585C;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}

.barrier span{
    background-color: #e4e4e4; 
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: #57585C;
    position: relative;
    font-family: calibri;
    font-weight: lighter;
    margin: 0;
}